<h3>Portfolio</h3>
<table class='table thead-inverse'>
  <thead>
    <tr>
      <th>Coin</th>
      <th>Quantity</th>
      <th>Value</th>
    </tr>
  </thead>
  <% for i in @entry_totals %>
  <tr>
    <td><%= i[0] %></td>
    <td><%= i[1] %></td>
    <td>$</td>
  </tr>    
  <% end %>
</table>
